In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time

In [2]:
executable_path = {'executable_path': '/Users/bstottlemyer/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [26]:
html = browser.html
soup = bs(html, 'html.parser')

news_article_title_div = soup.find('div', class_='content_title')
news_article_description_div = soup.find('div', class_='rollover_description_inner')

news_article_title = news_article_title_div.find('a')

news_title = news_article_title.text
news_p = news_article_description_div.text

print(news_title)
print(news_p)

NASA's MRO Completes 60,000 Trips Around Mars
The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

In [5]:
url = 'https://www.jpl.nasa.gov'
page = '/spaceimages/?search=&category=Mars'
browser.visit(url+page)

In [6]:
html = browser.html
soup = bs(html, 'html.parser')

featured_image_div = soup.find('div', class_='carousel_items')

featured_image_article_div = featured_image_div.find('article')
featured_image_style = featured_image_article_div['style']
featured_image_jpg = featured_image_style[23:-3]

featured_image_url = url+featured_image_jpg

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17462-1920x1200.jpg

In [37]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [39]:
html = browser.html
soup = bs(html, 'html.parser')

tweet_div = soup.find('p', class_='tweet-text')

mars_weather_text = tweet_div.text

if "pic.twitter.com" in mars_weather_text:
    mars_weather_split = mars_weather_text.split('pic.twitter')
    mars_weather = mars_weather_split[0]
    print(mars_weather)

else:
    mars_weather = mars_weather_text
    print(mars_weather)

This is what a sunset on Earth looks like from above. / So sieht ein irdischer Sonnenuntergang aus, von oben gesehen. #Horizons #Archive

In [9]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [10]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
df = tables[0]
df.columns = ["Metric","Measurement"]
df.set_index("Metric",inplace=True)
df.head()

                                        Measurement
Metric
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [12]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Metric</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
hemisphere_image_urls = []

In [14]:
url = 'https://astrogeology.usgs.gov'
page = '/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [15]:
mars_hemisphere_pages = ['Cerberus Hemisphere Enhanced','Schiaparelli Hemisphere Enhanced','Syrtis Major Hemisphere Enhanced','Valles Marineris Hemisphere Enhanced']

In [16]:
for hemisphere in mars_hemisphere_pages: 
    browser.visit(url+page)
    browser.click_link_by_partial_text(hemisphere)
    browser.click_link_by_partial_text('Open')

    html = browser.html
    soup = bs(html, 'html.parser')

    title_div = soup.find('h2', class_='title')
    cerberus_image_div = soup.find('img', class_='wide-image')

    title_text = title_div.text
    title = title_text.rsplit(' ', 1)[0]

    cerberus_image_src = cerberus_image_div['src']

    img_url = url+cerberus_image_src

    print(title)
    print(img_url)

    d = {"title":title,"img_url":img_url}
    hemisphere_image_urls.append(d)

Cerberus Hemisphere
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [17]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]